html {
  box-sizing: border-box;
  font-family: sans-serif; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  max-width: 100%;
  height: auto; }

.inn-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  height: 500px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-grow: 1; }

.home__img {
  display: flex;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto; }

.home__banner__text {
  display: flex;
  flex-direction: column;
  background: blueviolet;
  padding: 20px;
  margin: 0px;
  text-align: center; }

.home__letras {
  display: inline-block;
  grid-column: auto;
  grid-auto-rows: auto;
  background: rgb(13, 216, 216);
  margin: 10px;
  width: 100px;
  height: 100px;
  text-align: center;
  align-content: center;
  font-size: 32px;
  content: '\f425'; }

